body {
    background-color:white;
}

.banner{
    width :99%;
    height: 530px;
    text-align: center;
    padding: 1px;
    margin-top: 5px;
}
.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/accd.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 8px 8px 16px 8px #727272;
}
.items{
    margin: 30px;
    width: 90%;
    height: 400px;
    text-align: center;
}

.items h2 {
    font: inherit;
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 6px;
    color: rgb(8, 0, 128);
    text-shadow: 5px 5px rgb(169, 163, 255);
}

.item-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-top: 3%;
}

.price {
    color: grey;
    font-size: 22px;
}

.item-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
}

.item-card:hover {
    opacity: 0.9;
}

.item-card button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.image1{
    margin-top: 50px ;
    
    
}

.image2{
    margin-top: 40px ;
    
    
}